 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a young particle physicist. I am now doing my PhD at the University of Manchester, analyzing/calibrating data for the ATLAS collaboration. Additionally, I have computing experience in C++, Python, Git and Linux. I have as well some experience with data science (non physics-related).</p>
                </div>
                <div class="col-lg-4">
                    <p>In this page, your can checkut my projects and get to know me a bit. Have fun!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
