 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a particle physicist, currently based in Manchester (UK), where I finished my PhD. I am analysing and calibrating data and simulation for the ATLAS collaboration.</p>
                </div>
                <div class="col-lg-4">
                    <p> Additionally, I have experience using C++, Python, Git and Linux OS. During my research I have acquired experience in data science and ML. In this page, your can check my projects and get to know me a little bit more. Have fun!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/diegobaronm/diegobaronm.github.io/blob/master/CVDiegoBaron.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my CV!
                    </a>
                </div>
            </div>
        </div>
    </section>
