 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a young particle physicist. I am currently based in Manchester, UK. I am doing my PhD in particle physics, I am analyzing/calibrating data and simulation for the ATLAS collaboration.</p>
                </div>
                <div class="col-lg-4">
                    <p> Additionally, I have coding experience in C++, Python, Git and Linux. I have some experience with data science (non physics-related) as well . In this page, your can checkout my projects and get to know me a little bit. Have fun!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/diegobaronm/diegobaronm.github.io/blob/master/CVDiegoBaron.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my CV!
                    </a>
                </div>
            </div>
        </div>
    </section>
